:root {
    --accent_1: #090045;
    --accent_2: #1d275d;
    --letter_color: #bb5700;
    --white_background: #ebebeb;
    --background_radius: #ffffff59;--accent: #a8abc0;

    --cell_yellow: #fbff06;
    --cell_yellow_gradient: #e7a00b;

    --letter: #050f7f;

    --grid_background_color_1: #002579;
    --grid_background_color_2: #88daff;
    --grid_background_color_3: #5eceff;
    --grid_background_color_4: #002992;
}
body {
    font-family: "LL Brown";
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: rgb(15,49,242);
    background: linear-gradient(-2deg, var(--grid_background_color_4) 0%, var(--grid_background_color_3) 28%, var(--grid_background_color_2) 28%, var(--grid_background_color_1) 100%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#definition_placeholder {
    border-radius: 5px;
    background: var(--background_radius);
    display: flex;
    justify-content: center;
    width: 80vw;
    padding: 1vh;
    flex-direction: column;
}

#definition_question, #definition_explication {
    color: var(--letter);
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-color: var(--white_background);
    border-radius: 1vh;
}

#definition_question {
    padding: 3vh 1vw;
    z-index: 2;
}

#definition_reponse {
    display: flex;
    background-color: var(--accent_1);
    border-radius: 0 0 1vh 1vh;
    justify-content: center;
    width: min-content;
    padding: 1vh;
    margin-top: -1vh;
    color: white;
    font-size: x-large;
    align-items: center;
    animation: .5s displayDefinitionAnswer;
    z-index: 1;
}
div#definition_reponse.hided, #definition.hided div#definition_reponse {
    transform: translateY(-10vh);
    animation: .5s hideDefinitionAnswer;
    transform-origin: top;
    opacity: 0;
}

@keyframes hideDefinitionAnswer {
    0% {
        transform: translateY(0vh);
        opacity: 100%;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 0%;
    }
}
@keyframes displayDefinitionAnswer {
    0% {
        transform: translateY(-10vh);
        opacity: 0%;
    }
    100% {
        transform: translateY(0vh);
        opacity: 100%;
    }
}

span#definition_highlight {
    color: var(--letter_color);
}

#definition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#definition_explication {
    width: max-content;
    font-size: large;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}

#definition_lettre {margin: 0 1vw;transform: scale(1.5);}


span#definition_hiding {
    text-decoration-line: underline;
}

div#actions {
    width: 100%;
    position: absolute;
    top: 0;
}

#definition.hided #definition_question, #definition.hided #definition_placeholder {
    transform: scaleY(0);
    opacity: 0%;
}

#definition.hided #definition_question  {
    animation: .5s hideDefinition;
    z-index: 2;
}

#definition.hided #definition_placeholder  {
    animation: .75s hideDefinition;
    /* z-index: 0; */
}

@keyframes hideDefinition {
    0% {
        transform: scaleY(1);
        opacity: 100%;
    }
    50% {
        transform: scaleY(1);
        opacity: 100%;
    }
    100% {
        transform: scaleY(0);
        opacity: 0%;
    }
}

#definition.displayed #definition_question, #definition.displayed #definition_placeholder {
    transform: scaleY(1);
    opacity: 100%;
}

#definition.displayed #definition_question  {
    animation: .5s displayDefinition;
    z-index: 2;
}

#definition.displayed #definition_placeholder  {
    animation: .25s displayDefinition;
}

@keyframes displayDefinition {
    0% {
        transform: scaleY(0);
        opacity: 0%;
    }
    100% {
        transform: scaleY(1);
        opacity: 100%;
    }    
}

a.grid_letter {
    transform: scale(2.25) translateY(-0.125vh);
    /* align-self: baseline; */
    font-size: 2.5vh;
}